<h1>About Me</h1>
<div class="my-img"> <img src="#"> </div>
<div class="aboutMe-article">
    <article>My name is Zhouxuan He, my student Id is 301120369. I am from China, currently major in Software Engineering Technology</article>
</div>